[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vinegar"]
	path = vim/bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/ag"]
	path = vim/.vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "vim/.vim/bundle/bufexplorer"]
	path = vim/.vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/.vim/bundle/lightline"]
	path = vim/.vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/bundle/php.vim"]
	path = vim/.vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/.vim/bundle/tagbar-phpctags"]
	path = vim/.vim/bundle/tagbar-phpctags
	url = https://github.com/vim-php/tagbar-phpctags.vim
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/.vim/bundle/vim-vinegar"]
	path = vim/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/.vim/bundle/vdebug"]
	path = vim/.vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "vim/.vim/bundle/vim-dirdiff"]
	path = vim/.vim/bundle/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
